@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900);
/*
 * Mixins
*/
/*
 * Animation Keyframes
*/
@keyframes clockHandSpin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
@keyframes loading {
  from {
    width: 0%; }
  to {
    width: 100%; } }
/*
 * Background
*/
body {
  background-color: #AFAEA0; }

/*
 * App Container
*/
#app {
  background-color: #333333;
  height: 780px;
  width: 90%;
  max-width: 550px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

#tab-container {
  position: relative;
  top: 0px;
  height: 100px;
  margin: 0;
  border-bottom: 1px solid #4D4D4D; }
  #tab-container #tab-stopwatch {
    float: right; }
  #tab-container .tab-title {
    margin: 0px;
    display: inline-block;
    width: 275px;
    position: relative;
    height: 100%; }
    #tab-container .tab-title h1 {
      margin: 0px;
      font-family: "Roboto",sans-serif;
      font-size: 30px;
      font-weight: 300;
      color: #666666;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }
      #tab-container .tab-title h1:after {
        content: '';
        display: block;
        height: 2px;
        position: relative;
        top: 32px;
        background-color: #EE7C4B;
        width: 0%;
        margin: 0 auto;
        transition: width .5s ease; }
    #tab-container .tab-title:hover > h1:after {
      width: 100%; }
  #tab-container .tab-title-active {
    color: #CCCCCC; }

/*
 * Animated clocks
*/
#clocks-container {
  position: absolute;
  top: 150px;
  width: 100%;
  height: 120px;
  text-align: center;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out; }
  #clocks-container .clock-minimized {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: #4D4D4D;
    display: inline-block;
    margin: 0 2%;
    position: relative;
    -webkit-transition: height 500ms ease-in-out, width 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out, width 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out, width 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out, width 500ms ease-in-out;
    transition: height 500ms ease-in-out, width 500ms ease-in-out; }
  #clocks-container #clock-sec {
    background-color: #AFAEA0; }

.bigClocks {
  height: 200px !important;
  width: 200px !important; }

.clock-hand {
  height: 35px;
  width: 3px;
  background-color: white;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 58px;
  transform-origin: center 32px;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out; }

/*
 * Set Timer Form
*/
#timer {
  left: 50%;
  width: 252px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  border-bottom: 2px solid #4D4D4D; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

::-webkit-input-placeholder {
  color: #4D4D4D; }

:-moz-placeholder {
  color: #4D4D4D; }

::-moz-placeholder {
  color: #4D4D4D; }

:-ms-input-placeholder {
  color: #4D4D4D; }

#time-input-container {
  display: inline-block;
  text-align: center;
  width: 80px;
  margin: 0 auto;
  position: relative; }

.input-lables {
  position: absolute;
  bottom: 15px;
  right: 0px; }

.time-input {
  text-align: center;
  background-color: transparent;
  border: 0px;
  color: #CCCCCC;
  font-size: 50px;
  font-family: "Roboto",sans-serif;
  font-weight: 300;
  outline: none;
  width: 80px;
  left: 20%; }

.underline:after {
  content: "";
  background-color: #EE7C4B;
  display: block;
  height: 2px;
  width: 0%;
  -webkit-transition: width .5s ease;
  -moz-transition: width .5s ease;
  -ms-transition: width .5s ease;
  -o-transition: width .5s ease;
  transition: width .5s ease;
  position: absolute;
  left: 50%;
  transform: translateX(-50%); }

.time-input:focus ~ .underline:after {
  width: 100%; }

input:focus {
  border: 0px; }

#input-description-container p {
  font-size: 20px;
  font-family: "Roboto",sans-serif;
  font-weight: 300;
  position: absolute;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 450px;
  color: #CCCCCC; }

/*
 * Actual Timer To Display
*/
#showTime-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 475px;
  width: 100%;
  text-align: center;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease; }
  #showTime-container h2 {
    display: inline-block;
    font-family: "Roboto",sans-serif;
    font-size: 60px;
    font-weight: 300;
    margin: 0;
    color: #CCCCCC;
    margin-left: 20px; }
    #showTime-container h2 span {
      font-family: "Roboto",sans-serif;
      font-size: 30px;
      color: #CCCCCC;
      padding-left: 10px; }

/*
 * Loading line signalling how much time left
*/
.loading {
  height: 6px;
  bottom: 20%; }

#loading-outer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background-color: #333333; }

#loading-inner {
  left: 0px;
  width: 0px;
  background-color: #EE7C4B;
  -webkit-animation: loading linear both;
  -moz-animation: loading linear both;
  -ms-animation: loading linear both;
  -o-animation: loading linear both;
  animation: loading linear both;
  animation-delay: 1s; }

/*
 * Tasks to complete
*/
#tasks-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 170px;
  height: 230px;
  width: 352px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease; }

#tasks-title {
  height: 40px;
  position: relative; }
  #tasks-title h3 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: #CCCCCC;
    letter-spacing: 1px;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    font-size: 20px; }

#input-btn-container {
  position: relative;
  height: 70px;
  width: 350px; }

#inner-input-container {
  height: 40px;
  position: absolute;
  top: 10px;
  display: inline-block;
  width: 220px;
  float: right; }

#task-input {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  height: 40px;
  width: 220px;
  border: 0px;
  font-size: 16px;
  font-family: "Roboto",sans-serif;
  font-weight: 400;
  color: #CCCCCC;
  outline: none;
  border-bottom: 1px solid #4D4D4D; }

.underlineTask:after {
  content: '';
  display: block;
  width: 0px;
  left: 70px;
  background-color: #EE7C4B;
  height: 2px;
  -webkit-transition: width .5s ease;
  -moz-transition: width .5s ease;
  -ms-transition: width .5s ease;
  -o-transition: width .5s ease;
  transition: width .5s ease;
  margin: 0 auto;
  bottom: 0px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%); }

#task-input:focus ~ .underlineTask:after {
  width: 100%; }

#add-task-btn {
  display: inline-block;
  margin: 0 25px;
  top: 18px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #4D4D4D;
  border: 0px;
  color: #CCCCCC;
  position: relative; }
  #add-task-btn i {
    font-size: 18px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #CCCCCC; }

.task-in-list {
  list-style-type: none;
  margin: 5px 0px;
  position: relative;
  left: -20px; }
  .task-in-list label {
    cursor: pointer;
    position: relative; }
    .task-in-list label:hover {
      color: #CCCCCC; }
  .task-in-list input[type="checkbox"] {
    display: none; }
    .task-in-list input[type="checkbox"] + span:before {
      position: relative;
      content: '';
      top: 10px;
      background-color: transparent;
      height: 25px;
      width: 25px;
      display: inline-block;
      text-align: center;
      margin-right: 20px;
      background-image: url(../images/icons/unchecked-build.svg);
      background-size: 80%;
      background-repeat: no-repeat; }
    .task-in-list input[type="checkbox"]:checked + span:before {
      background-image: url(../images/icons/checked-build.svg);
      background-size: 80%;
      background-repeat: no-repeat; }
    .task-in-list input[type="checkbox"]:checked + span {
      text-decoration: line-through; }

#remove-task-btn {
  outline: none;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: #4D4D4D;
  border: 0px;
  color: #CCCCCC;
  position: relative;
  top: 3px;
  margin-right: 8px; }
  #remove-task-btn:hover {
    border: 1px solid whitesmoke; }
  #remove-task-btn i {
    font-size: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #CCCCCC; }

/*
 * Clock type buttons
*/
#clock-type-container {
  width: 100%;
  position: absolute;
  bottom: 100px; }

#clock-type {
  width: 70%;
  margin: 0 auto;
  text-align: center; }
  #clock-type button {
    border: 0px;
    border-radius: 20px;
    padding: 10px 40px; }
  #clock-type #normalButton {
    margin-right: 2%; }
  #clock-type #pomoButton {
    margin-left: 2%; }
  #clock-type .btn-active {
    outline: none;
    background-color: #EE7C4B;
    color: white;
    letter-spacing: 2px; }
  #clock-type .btn-inactive {
    padding: 8px 40px;
    letter-spacing: 2px;
    outline: none;
    background-color: transparent;
    border: 2px solid #EE7C4B;
    color: white; }

/*
 * Bottom buttons: play reset stop resume
*/
.btn-bottom {
  height: 70px;
  position: absolute;
  bottom: 0px;
  border: 0px;
  color: white;
  font-size: 20px;
  color: #CCCCCC;
  font-family: "Roboto",sans-serif;
  font-weight: 300; }

#btn-start {
  width: 100%;
  background-color: #333333;
  color: #CCCCCC;
  font-family: "Roboto",sans-serif;
  font-weight: 300; }

#btn-resume {
  width: 50%;
  background-color: #4D4D4D; }

#btn-pause {
  width: 50%;
  background-color: #4D4D4D; }

#btn-reset {
  left: 50%;
  width: 50%;
  background-color: #666666; }

/*# sourceMappingURL=main.css.map */
