@keyframes animateR {
    from {
        transform: translateY(-50%) rotate(0deg);
    }
    to {
        transform: translateY(-50%) rotate(-80deg);
    }
}
@keyframes animateL {
    from {
        transform: translateY(-50%) rotate(0deg);
    }
    to {
        transform: translateY(-50%) rotate(80deg);
    }
}
@keyframes fill {
    from {
        background-color: $black-back;
    }
    to {
        background-color: $orange;
    }
}
// @include animation("animateR 1s ease-out 2s 2 alternate");
//

#container {
    @include center-me-horiz();
    width: 120px;
    height: 120px;
    margin-top: 40px;
    border-top: 2px solid $black-one;
    #ball-container-m {
        @include center-me();
    }
    #ball-container-r {
        right: 0px;
    }
}
.ball-container {
    @include center-me-vert();
    height: 120px;
    width: 40px;
    @include transform-origin("center top");
}
.string {
    @include center-me-horiz();
    height: 80px;
    width: 2px;
    background-color: $black-one;
    z-index: -1;
}
.ball {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: $orange;
    bottom: 0px;
}
.animated-left {
    @include animation("animateL 500ms ease-out 2 alternate both");
}
.animated-right {
    @include animation("animateR 500ms ease-out 1000ms 2 alternate both");
}
