$black-back: #1A1A1A;
$black-one: #333333;
$black-two: #4D4D4D;
$black-three: #666666;
$light-grey: #CCCCCC;

$clock-beige: #AFAEA0;
$orange: #EE7C4B;
$dark-orange: #C45D3E;

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900);

/*
 * Mixins
*/

@mixin animation( $str ) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}
@mixin transition( $str ) {
  -webkit-transition: #{$str};
  -moz-transition: #{$str};
  -ms-transition: #{$str};
  -o-transition: #{$str};
  transition: #{$str};
}
@mixin transform( $str ) {
  -webkit-transform: #{$str};
  -moz-transform: #{$str};
  -ms-transform: #{$str};
  -o-transform: #{$str};
  transform: #{$str};
}
@mixin transform-origin( $str ) {
  -webkit-transform-origin: #{$str};
  -moz-transform-origin: #{$str};
  -ms-transform-origin: #{$str};
  -o-transform-origin: #{$str};
  transform-origin: #{$str};
}
@mixin center-me-horiz(){
    position: absolute;
    left: 50%;
    @include transform("translateX(-50%)");
}
@mixin center-me-vert(){
    position: absolute;
    top: 50%;
    @include transform("translateY(-50%)");
}
@mixin center-me(){
    position: absolute;
    left: 50%;
    top: 50%;
    @include transform("translate(-50%,-50%)");
}
/*
 * Animation Keyframes
*/

@keyframes clockHandSpin {
    from{ @include transform("rotate(0deg)");}
    to{ @include transform("rotate(360deg)");}
}
@keyframes loading {
    from {width: 0%}
    to {width: 100%}
}

/*
 * Background
*/

body {
    background-color: #3F3F3F;
}

/*
 * App Container
*/

#app {
    background-color: $black-back;
    height: 780px;
    width: 90%;
    max-width: 550px;
    position: absolute;
    @include center-me();
}

#tab-container{
    position: relative;
    top: 0px;
    height: 100px;
    margin: 0;
    border-bottom: 1px solid $black-one;
    outline: none;
    #tab-stopwatch {
        float: right;
        outline: none;
    }
    .tab-title {
        margin: 0px;
        display: inline-block;
        width: 275px;
        position: relative;
        height: 100%;
        outline: none;
        h1 {
            outline: none;
            margin:0px;
            font-family: "Roboto",sans-serif;
            font-size: 25px;
            font-weight: 300;
            color: $black-three;
            @include center-me();
            &:after {
                content: '';
                display: block;
                height: 2px;
                position: relative;
                top: 36px;
                background-color: $orange;
                width: 0px;
                margin: 0 auto;
                @include transition("width .5s ease");
            }
        }
    }
    .active-tab {
        h1{
            color: $light-grey;
        }
        h1:after {
            width: 100%;
        }
    }
}

/*
 * Animated clocks
*/

#clocks-container {
    position: absolute;
    top: 150px;
    width: 100%;
    height: 120px;
    text-align: center;
    @include transition("all 300ms ease-in-out");
    .clock-minimized {
        height: 120px;
        width: 120px;
        border-radius: 50%;
        background-color: $black-one;
        display: inline-block;
        margin: 0 2%;
        position: relative;
        @include transition("height 500ms ease-in-out, width 500ms ease-in-out");
    }
    #clock-sec {
        background-color: $clock-beige;
    }
}

.bigClocks {
    height: 200px !important;
    width: 200px !important;
}

// clock hands
.clock-hand {
    height: 35px;
    width: 3px;
    background-color: white;
    border-radius: 20px;
    @include center-me-horiz();
    bottom:58px;
    @include transform-origin("center 32px");
    @include transition("all 500ms ease-in-out");
}

/*
 * Set Timer Form
*/
#timer {
    width: 252px;
    text-align: center;
    @include center-me();
    border-bottom: 2px solid $black-two;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
    -moz-appearance:textfield;
}

::-webkit-input-placeholder {
      color:$black-two;
}
:-moz-placeholder {
      color:$black-two;
}
::-moz-placeholder {
      color:$black-two;
}
:-ms-input-placeholder {
      color:$black-two;
}
:placeholder{
    color: $black-two;
}
#time-input-container {
    display: inline-block;
    text-align: center;
    width:80px;
    margin: 0 auto;
    position: relative;
}
.input-lables {
    position: absolute;
    bottom: 15px;
    right: 0px;
}
.time-input {
    text-align: center;
    background-color: transparent;
    border: 0px;
    color: $light-grey;
    font-size: 50px;
    font-family: "Roboto",sans-serif;
    font-weight: 300;
    outline: none;
    width: 80px;
    left: 20%;
}
.underline:after {
    content: "";
    background-color: $orange;
    display: block;
    height: 2px;
    width: 0%;
    @include transition("width .5s ease") ;
    position: absolute;
    @include center-me-horiz();
}
.time-input:focus ~ .underline:after {
    width: 100%;
}
input:focus {
    border: 0px;
}
#input-description-container{
    p {
        font-size: 20px;
        font-family: "Roboto",sans-serif;
        font-weight: 300;
        position: absolute;
        @include center-me-horiz();
        top: 450px;
        color: $light-grey;
    }
}

/*
 * Actual Timer To Display
*/

#showTime-container {
    @include center-me-horiz();
    top: 475px;
    width: 100%;
    text-align: center;
    @include transition('all .4s ease');
    h2 {
        display: inline-block;
        font-family: "Roboto",sans-serif;
        font-size: 60px;
        font-weight: 300;
        margin: 0;
        color:$light-grey;
        margin-left: 20px;

        span {
            font-family: "Roboto",sans-serif;
            font-size: 30px;
            color:$light-grey;
            padding-left: 10px;
        }
    }
}

/*
 * Loading line signalling how much time left
*/

.loading {
    height: 6px;
    bottom: 20%;
}
#loading-outer {
    @include center-me-horiz();
    width: 100%;
    background-color: $black-back;
}
#loading-inner {
    left: 0px;
    width:0px;
    background-color: $orange;
}
.startLoad{
    @include animation('loading linear both');
    animation-delay: 1s;
}
/*
 * Tasks to complete
*/

#tasks-container{
    @include center-me-horiz();
    bottom: 170px;
    height: 230px;
    width: 352px;
    @include transition('all .4s ease');
}
#tasks-title {
    height: 40px;
    position: relative;
    h3 {
        @include center-me();
        margin: 0;
        color: $light-grey;
        letter-spacing: 1px;
        font-family: 'Roboto',sans-serif;
        font-weight: 300;
        font-size: 20px;
    }
}
#input-btn-container {
    position: relative;
    height: 70px;
    width: 350px;
}
#inner-input-container {
    height: 40px;
    position: absolute;
    top: 10px;
    display: inline-block;
    width: 220px;
    float: right;
}
#task-input {
    @include center-me();
    background-color: transparent;
    height: 40px;
    width: 220px;
    border: 0px;
    font-size: 16px;
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    color: $light-grey;
    letter-spacing: 1px;
    outline: none;
    border-bottom: 1px solid $black-two;
}
.underlineTask:after {
    content: '';
    display: block;
    width: 0px;
    left: 70px;
    background-color: $orange;
    height: 2px;
    @include transition("width .5s ease");
    margin: 0 auto;
    bottom: 0px;
    @include center-me-horiz();
}
#task-input:focus ~ .underlineTask:after {
    width: 100%;
}
#add-task-btn {
    display: inline-block;
    margin: 0 25px;
    top: 18px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: $black-two;
    border: 0px;
    color: $light-grey;
    position: relative;
    i {
        font-size: 18px;
        @include center-me();
        color: $light-grey;
    }
}
.task-in-list {
    list-style-type: none;
    margin: 5px 0px;
    position: relative;
    left: -20px;
    label {
        cursor:pointer;
        position: relative;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        letter-spacing: 1px;
        color: $black-three;
        &:hover {
            // edit hover color of text
            color: $light-grey;
        }
    }
    input[type="checkbox"] {
        display: none;
        + span:before{
            position: relative;
            content: '';
            top: 10px;
            background-color: transparent;
            height: 25px;
            width: 25px;
            display: inline-block;
            text-align: center;
            margin-right: 20px;
            background-image: url(../assets/icons/unchecked-build.svg);
            background-size: 80%;
            background-repeat: no-repeat;
        }
        &:checked + span:before{
            background-image: url(../assets/icons/checked-build.svg);
            background-size: 80%;
            background-repeat: no-repeat;
        }
        &:checked +span{
            text-decoration: line-through;
        }
    }
}
#remove-task-btn {
    outline: none;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: $black-two;
    border: 0px;
    color: $light-grey;
    position: relative;
    top: 3px;
    margin-right: 8px;
    &:hover {
        border: 1px solid whitesmoke;
    }
    i {
        font-size: 10px;
        @include center-me();
        color: $light-grey;
    }
}

/*
 * Clock type buttons
*/

#clock-type-container {
    width: 100%;
    position: absolute;
    bottom: 100px;
}
#clock-type {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    button {
        border: 0px;
        border-radius: 20px;
        padding: 10px 40px;
    }
    #normalButton {
        margin-right: 2%;
    }
    #pomoButton {
        margin-left: 2%;
    }
    .btn-active {
        outline: none;
        background-color: $orange;
        color: white;
        letter-spacing: 2px;
    }
    .btn-inactive {
        padding: 8px 40px;
        letter-spacing: 2px;
        outline: none;
        background-color: transparent;
        border: 2px solid $orange;
        color: white;
    }
}

/*
 * Bottom buttons: play reset stop resume
*/
.btn-bottom {
    height: 70px;
    position: absolute;
    bottom: 0px;
    border: 0px;
    color: white;
    font-size: 20px;
    color: $light-grey;
    font-family: "Roboto",sans-serif;
    font-weight: 300;
}

#btn-start {
    width: 100%;
    background-color: $black-back;
    color: $light-grey;
    font-family: "Roboto",sans-serif;
    font-weight: 300;
}
#btn-resume {
    width: 50%;
    background-color: $black-back;
}
#btn-pause {
    width: 50%;
    background-color: $black-back;
}
#btn-reset {
    left: 50%;
    width: 50%;
    background-color: $black-back;
}

@import 'animateNewton';
@import 'stopwatch';
